<h3>{{ isNew ? 'Dodajanje študenta' : 'Urejanje študenta'}} </h3>

<form (ngSubmit)="save()">
  <div class="controls-container">

    <mat-form-field appearance="fill">
      <mat-label>Ime</mat-label>
      <input matInput name="firstName" [(ngModel)]="student.firstName" #model="ngModel" required pattern="^[A-ČĆŽŠĐ].[a-zčćžšđ]{1,}$" />
      <mat-error *ngIf="model.invalid">
        Ime je obvezno, lahko vsebuje samo črke, ter se mora začeti z veliko začentico.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Priimek</mat-label>
      <input matInput name="lastName" [(ngModel)]="student.lastName" #model="ngModel" required />
      <mat-error *ngIf="model.invalid">
        Priimek je obvezen, lahko vsebuje samo črke, ter se mora začeti z veliko začentico.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Datum rojstva</mat-label>
      <input matInput name="birthDate" [matDatepicker]="picker" [min]="minBirthDate" [max]="maxBirthDate" [(ngModel)]="student.birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Program</mat-label>
      <mat-select name="program" matInput [(ngModel)]="student.program" #model="ngModel" required>
        <mat-option *ngFor="let program of programs" [value]="program">
          {{program}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="model.invalid">
        Izbira programa je obvezna
      </mat-error>
    </mat-form-field>

  </div>

  <button mat-raised-button color="primary" type="submit">Shrani in zapri</button>
  <a mat-raised-button color="warn" routerLink="/">Prekliči</a>

</form>
