<h1>{{ isNew ? 'Dodajanje študenta' : 'Urejanje študenta'}} </h1>


<mat-form-field>
  <mat-label>Ime</mat-label>
  <input type="text" matInput [formControl]="firstNameControl"  placeholder="Ime" />
  <!--<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
    Please enter a valid email address
  </mat-error>-->
  <mat-error *ngIf="firstNameControl.hasError('required')">
    Ime je obvezno polje
  </mat-error>
</mat-form-field>

<mat-form-field>
  <mat-label>Priimek</mat-label>
  <input type="text" matInput [formControl]="lastNameControl" placeholder="Priimek" />
  <!--<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="emailFormControl.hasError('required')">
    Email is <strong>required</strong>
  </mat-error>-->
</mat-form-field>

<mat-form-field>
  <mat-label>Priimek</mat-label>
</mat-form-field>

<button mat-button (click)="goBack">Back</button>
