<h1>{{ isNew ? 'Dodajanje študenta' : 'Urejanje študenta'}} </h1>

<mat-form-field>
  <mat-label>Ime</mat-label>
  <input matInput [formControl]="firstNameControl" [(ngModel)]="student.firstName" placeholder="Ime" #jajc />
  <mat-error *ngIf="firstNameControl.hasError('required')">
    Ime je obvezno
  </mat-error>
</mat-form-field>

<mat-form-field>
  <mat-label>Priimek</mat-label>
  <input matInput [formControl]="lastNameControl" [(ngModel)]="student.lastName" placeholder="Priimek" />
  <mat-error *ngIf="lastNameControl.hasError('required')">
    Priimek je obvezen
  </mat-error>
</mat-form-field>

<!--<mat-form-field>
  <mat-label>Datum rojstva</mat-label>
  <input matInput [formControl]="lastNameControl" [(ngModel)]="student.birthDate" placeholder="Datum rojstva" />
  <mat-error *ngIf="lastNameControl.hasError('required')">
    Priimek je obvezen
  </mat-error>
</mat-form-field>-->



<button mat-raised-button color="primary" (click)="save()">Shrani</button>

<button mat-raised-button color="warn" (click)="goBack">Prekliči</button>
